/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (max-width: 1140px) {

  /*--global--*/

  .container {
    padding: 0 100px;
  }

  /*--header--*/

  .header__container {
    display: none;
    padding: 28px 100px 22px;
  }

  .header__container--mobile {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 45px;
  }

  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__nav {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: unset;
  }

  .header__nav::after {
    content: "";
    position: absolute;
    top: 144px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--light-grey);
  }

  .header__nav::before {
    content: "";
    position: absolute;
    top: 81px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--light-grey);
  }

  /*--hero--*/

  .hero__container {
    padding: 91px 100px 88px;
    background: transparent no-repeat right 101px top 80px / 255px;
    background-image: url("../img/mic-main.png");
  }

  .hero__title {
    max-width: 515px;
    margin-bottom: 17px;
  }

  .hero__descr {
    margin-bottom: 22px;
    max-width: 515px;
  }

  /*--guest--*/

  .guest__subtitle-descr {
    max-width: 570px;
  }

  /*--playlist--*/

  .playlist__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .playlist__title-box {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
  }

  .playlist__title-descr {
    max-width: 100%;
  }

  .playlist__list {
    padding-top: 0;
  }

  .playlist__item {
    padding: 40px 2px 40px 122px;
    -ms-flex-preferred-size: 254px;
        flex-basis: 254px;
    background-position: left center;
    background-size: 112px 112px;
  }

  .playlist__flag {
    right: unset;
    left: 0;
  }

  /*--market--*/

  .market {
    padding: 94px 0 97px;
  }

  .market__box {
    gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .market__pic {
    padding-top: 0;
  }

  .market__stick-new {
    max-width: 100px;
    top: 118px;
    left: 100px;
  }

  /*--about--*/

  .about {
    padding: 94px 0;
  }

  .about__header {
    padding-right: 285px;
    background: url(../img/dawn.svg) no-repeat center right;
  }

  .about__item {
    -ms-flex-preferred-size: 397px;
        flex-basis: 397px;
  }

  .about__input {
    max-width: 396px;
  }

  .about__img {
    margin-bottom: 26px;
  }

  /*--footer--*/

  .footer__container {
    margin-bottom: 115px;
  }
}

@media (max-width: 1023px) {

  /*--header--*/

  .header__container {
    padding: 28px 115px 22px;
  }

  .header__nav::after {
    top: 140px;
  }

  .header__nav::before {
    top: 80px;
  }

  .nav__item {
    font-size: 16px;
  }

  /*--hero--*/

  .hero__container {
    padding: 91px 115px 88px;
    background-image: none;
  }

  .hero__descr {
    margin-bottom: 20px;
  }

  .container {
    padding: 0 115px;
  }

  /*--broadcast--*/

  .broadcast {
    position: relative;
    padding: 94px 0 29px;
  }

  .broadcast__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: unset;
  }

  .broadcast__title-mobile {
    display: block;
    margin-bottom: 110px;
  }

  .broadcast__archive-list--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    padding: 0 0 0 95px;
    background-position: center left 2px;
    background-size: 70px 96px;
  }

  .broadcast__box::after {
    content: "";
    position: absolute;
    bottom: 156px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--light-grey);
  }

  .broadcast__archive-btn {
    margin-bottom: 10px;
  }

  .broadcast__list {
    margin-bottom: 90px;
  }



  .broadcast__title-box {
    display: none;
  }

  /*--guest--*/

  .guest__article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 27px;
  }

  .guest__img {
    width: 100%;
  }

  .guest__descr {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
  }

  .guest__text {
    max-width: 360px;
    margin-bottom: 35px;
  }

  /*--playlist--*/

  .playlist {
    padding: 94px 0 113px;
  }

  /*--market--*/

  .market {
    padding: 54px 0 97px;
  }

  .market__stick-new {
    max-width: 160px;
    top: 0px;
    left: 114px;
  }

  .market__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 48px;
  }

  .market__pic {
    -ms-flex-negative: unset;
        flex-shrink: unset;
  }

  .market__title {
    max-width: 400px;
  }

  /*--about--*/

  .about__header {
    position: relative;
    padding-right: 0;
    padding-bottom: 142px;
    background-position: bottom right;
    background-size: 112px 112px;
  }

  .about__header::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: -114px;
    height: 114px;
    width: 515px;
    background-image: url("../img/about-spiral.svg");
    background-repeat: no-repeat;
  }

  .about__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about__item {
    -ms-flex-preferred-size: 254px;
        flex-basis: 254px;
  }

  .about__input {
    max-width: 540px;
  }

  /*--footer--*/

  .footer__container {
    margin-bottom: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 80px;
  }

  .footer__logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 18px;
  }

  .footer__icon {
    width: 36px;
    height: 36px;
  }

  .nav__column-list {
    gap: 30px;
  }

  .footer__nav {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
  }
}

@media (max-width: 767px) {

  /*--broadcast--*/

  .broadcast__item {
    -ms-flex-preferred-size: 195px;
        flex-basis: 195px;
  }

  /*--playlist--*/

  .playlist__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .playlist__item {
    padding: 160px 5px 15px 5px;
    -ms-flex-preferred-size: 150px;
        flex-basis: 150px;
    background-position: center top;
    background-size: 150px 150px;
  }

  /*--about--*/

  .about__header::after {
    max-width: 410px;
  }

  .about__item {
    -ms-flex-preferred-size: 195px;
        flex-basis: 195px;
  }
}

@media (max-width: 650px) {

  .btn {
    padding: 17px 45px;
    font-size: 16px;
  }

  .container {
    padding: 0 32px;
  }

  .title-h2 {
    font-size: 24px;
  }

  /*--header--*/

  .header__nav::after {
    top: 104px;
  }

  .header__nav::before {
    top: 55px;
  }

  .header__container {
    padding: 15px 32px 15px;
  }

  .header__container--mobile {
    gap: 30px;
  }

  .header__logo {
    width: 88px;
  }

  .header__nav {
    height: 22px;
    gap: 24px;
    overflow-x: visible;
    overflow-y: hidden;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .nav__item {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }

  /*--hero--*/

  .hero__container {
    padding: 35px 32px 40px;
  }

  .hero__title {
    margin-bottom: 8px;
    font-size: 32px;
  }

  .hero__descr {
    font-size: 14px;
  }

  /*--podcast--*/

  .podcast {
    padding: 54px 0;
  }

  .podcast__title {
    margin-bottom: 20px;
  }

  .podcast__name {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
  }

  .podcast__lead {
    font-size: 12px;
  }

  .podcast__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .podcast__item {
    padding: 102px 15px 30px 15px;
    -ms-flex-preferred-size: 256px;
        flex-basis: 256px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    background-position: top center;
    background-repeat: no-repeat;

  }

  .podcast__date {
    bottom: unset;
    top: 0;
  }

  .podcast__item--img1 {
    background-image: url("../img/podcast-img-320-1.jpg");
  }

  .podcast__item--img2 {
    background-image: url("../img/podcast-img-320-2.jpg");
  }

  .podcast__item--img3 {
    background-image: url("../img/podcast-img-320-3.jpg");
  }

  .podcast__item--img4 {
    background-image: url("../img/podcast-img-320-4.jpg");
  }

  .podcast__item--img5 {
    background-image: url("../img/podcast-img-320-5.jpg");
  }

  .podcast__item--img6 {
    background-image: url("../img/podcast-img-320-6.jpg");
  }

  .podcast__item--img7 {
    background-image: url("../img/podcast-img-320-7.jpg");
  }

  .podcast__item--img8 {
    background-image: url("../img/podcast-img-320-8.jpg");
  }

  /*--broadcast--*/

  .broadcast {
    padding: 54px 0 46px;
  }

  .broadcast__title-mobile {
    margin-bottom: 15px;
  }

  .broadcast__list {
    margin-bottom: 60px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 29px;
  }

  .broadcast__item {
    height: 150px;
    padding: 61px 10px 12px;
    -ms-flex-preferred-size: 110px;
        flex-basis: 110px;
  }

  .broadcast__name {
    margin-bottom: 5px;
    font-size: 12px;
  }

  .broadcast__descr {
    margin-bottom: auto;
    font-size: 9px;
  }

  .broadcast__more {
    font-size: 12px;
  }

  .broadcast__item--img1 {
    background-image: url("../img/broadcast-320-1.jpg");
  }

  .broadcast__item--img2 {
    background-image: url("../img/broadcast-320-2.jpg");
  }

  .broadcast__item--img3 {
    background-image: url("../img/broadcast-320-3.jpg");
  }

  .broadcast__item--img4 {
    background-image: url("../img/broadcast-320-4.jpg");
  }

  .broadcast__item--img5 {
    background-image: url("../img/broadcast-320-5.jpg");
  }

  .broadcast__item--img6 {
    background-image: url("../img/broadcast-320-6.jpg");
  }

  .broadcast__archive-list--mobile {
    position: relative;
    padding: 0 0 0 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 10px;
    background: none;
  }

  .broadcast__archive-list--mobile::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 77px;
    height: 105px;
    background: transparent url("../img/mic-smal.png") no-repeat;
    background-size: 77px 105px;
  }

  .broadcast__box::after {
    bottom: 189px;
  }

  .broadcast__archive-item {
    width: 180px;
    font-size: 14px;

  }

  .broadcast__archive-btn {
    padding: 5px 30px;
  }

  /*--guest--*/

  .guest {
    padding: 54px 0;
  }

  .guest__subtitle {
    margin: 0;
    font-size: 14px;
  }

  .guest__subtitle-descr {
    margin-bottom: 28px;
    font-size: 14px;
  }

  .guest__list {
    gap: 28px;
  }

  .guest__article {
    gap: 6px;
  }

  .guest__text {
    margin-bottom: 34px;
  }

  .guest__btn {
    padding: 7px 15px;
  }

  /*--playlist--*/

  .playlist {
    padding: 54px 0;
  }

  .playlist__title-descr {
    font-size: 12px;
    line-height: 16px;
  }

  .playlist__title-coppy {
    font-size: 12px;
    line-height: 22px;
  }

  .playlist__item {
    padding: 124px 5px 10px 10px;
    -ms-flex-preferred-size: 113px;
        flex-basis: 113px;
    background-size: 113px 113px;
  }

  .playlist__name {
    font-size: 12px;
  }

  .playlist__descr {
    font-size: 9px;
  }

  .playlist__flag {
    right: 0;
    left: unset;
  }

  /*--market--*/

  .market {
    padding: 54px 0 56px;
  }

  .market__box {
    gap: 32px;
  }

  .market__stick-new {
    max-width: 62px;
    left: 33px;
  }

  .market__title {
    margin-bottom: 17px;
    padding-bottom: 23px;
    font-size: 24px;
  }

  .market__descr {
    font-size: 14px;
    line-height: 158%;
  }

  .market__descr--second {
    margin-bottom: 8px;
  }

  .market__price {
    margin-bottom: 21px;
    font-size: 24px;
  }

  .market__btn {
    padding: 13px 15px;
    font-size: 16px;

  }

  /*--about--*/

  .about {
    padding: 54px 0;
  }

  .about__header {
    padding: 0;
    margin-bottom: 27px;
    background: none;
  }

  .about__subtitle {
    margin-bottom: 3px;
    font-size: 14px;
  }

  .about__title-descr {
    font-size: 14px;
  }

  .about__header::after {
    display: none;
  }

  .about__item {
    -ms-flex-preferred-size: 113px;
        flex-basis: 113px;
  }

  .about__img {
    margin-bottom: 8px;
  }

  .about__name {
    max-width: 105px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 18px;
  }

  .about__list-descr {
    font-size: 12px;
    line-height: 16px;
  }

  .about__say {
    padding: 15px 10px 10px 23px;
    border-radius: 20px;
    font-size: 16px;
  }

  .about__input {
    padding: 16px 10px 16px 24px;
    border-radius: 25px;
    font-size: 16px;
  }

  .about__send {
    gap: 21px;
  }

  .about__pi {
    font-size: 9px;
  }

  /*--footer--*/

  .footer {
    padding: 54px 0 10px;
    background-position: center bottom 30px;
  }

  .footer__container {
    margin-bottom: 55px;
    gap: 82px;
  }

  .footer__nav {
    display: none;
  }

  .footer__nav-mobile {
    height: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
    color: var(--white);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .nav__column-item {
    font-size: 12px;
  }

  .footer__coppy {
    font-size: 12px;
  }

}
