@media (max-width: 1140px) {

  /*--global--*/

  .container {
    padding: 0 100px;
  }

  /*--header--*/

  .header__container {
    display: none;
    padding: 28px 100px 22px;
  }

  .header__container--mobile {
    display: flex;
    gap: 45px;
  }

  .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__nav {
    width: 100%;
    justify-content: space-between;
    gap: unset;
  }

  /*--hero--*/

  .hero__container {
    padding: 91px 100px 88px;
    background: transparent no-repeat right 101px top 80px / 255px;
    background-image: url("../img/mic-main.png");
  }

  .hero__title {
    max-width: 515px;
    margin-bottom: 17px;
  }

  .hero__descr {
    margin-bottom: 22px;
    max-width: 515px;
  }

  /*--guest--*/

  .guest__subtitle-descr {
    max-width: 570px;
  }

  /*--playlist--*/

  .playlist__box {
    flex-direction: column;
  }

  .playlist__title-box {
    flex-basis: unset;
  }

  .playlist__title-descr {
    max-width: 100%;
  }

  .playlist__list {
    padding-top: 0;
  }

  .playlist__item {
    padding: 40px 2px 40px 122px;
    flex-basis: 254px;
    background-position: left center;
    background-size: 112px 112px;
  }

  .playlist__flag {
    right: unset;
    left: 0;
  }

  /*--market--*/

  .market {
    padding: 94px 0 97px;
  }

  .market__box {
    gap: 30px;
    align-items: center;
  }

  .market__pic {
    padding-top: 0;
  }

  .market__stick-new {
    max-width: 100px;
    top: 118px;
    left: 100px;
  }

  /*--about--*/

  .about {
    padding: 94px 0;
  }

  .about__header {
    padding-right: 285px;
    background: url(../img/dawn.svg) no-repeat center right;
  }

  .about__item {
    flex-basis: 397px;
  }

  .about__input {
    max-width: 396px;
  }

  .about__img {
    margin-bottom: 26px;
  }

  /*--footer--*/

  .footer__container {
    margin-bottom: 115px;
  }
}

@media (max-width: 1023px) {

  /*--header--*/

  .header__container {
    padding: 28px 115px 22px;
  }

  .nav__item {
    font-size: 16px;
  }

  /*--hero--*/

  .hero__container {
    padding: 91px 115px 88px;
    background-image: none;
  }

  .hero__descr {
    margin-bottom: 20px;
  }

  .container {
    padding: 0 115px;
  }

  /*--broadcast--*/

  .broadcast {
    padding: 94px 0 29px;
  }

  .broadcast__box {
    flex-direction: column;
    gap: unset;
  }

  .broadcast__title--mobile {
    display: block;
    margin-bottom: 110px;
  }

  .broadcast__archive-list--mobile {
    display: flex;
    margin: 0 auto;
    padding: 0 0 0 95px;
    background-position: center left 2px;
    background-size: 70px 96px;
  }

  .broadcast__archive-btn {
    margin-bottom: 10px;
  }

  .broadcast__list {
    margin-bottom: 90px;
  }

  .broadcast__title-box {
    display: none;
  }

  /*--guest--*/

  .guest__article {
    flex-direction: column;
    gap: 27px;
  }

  .guest__img {
    width: 100%;
  }

  .guest__descr {
    flex-basis: unset;
  }

  .guest__text {
    max-width: 360px;
    margin-bottom: 35px;
  }

  /*--playlist--*/

  .playlist {
    padding: 94px 0 113px;
  }

  /*--market--*/

  .market {
    padding: 54px 0 97px;
  }

  .market__stick-new {
    max-width: 160px;
    top: 0px;
    left: 114px;
  }

  .market__box {
    flex-direction: column;
    gap: 48px;
  }

  .market__pic {
    flex-shrink: unset;
  }

  .market__title {
    max-width: 400px;
  }

  /*--about--*/

  .about__header {
    position: relative;
    padding-right: 0;
    padding-bottom: 142px;
    background-position: bottom right;
    background-size: 112px 112px;
  }

  .about__header::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: -114px;
    height: 114px;
    width: 515px;
    background-image: url("../img/about-spiral.svg");
    background-repeat: no-repeat;
  }

  .about__list {
    justify-content: center;
  }

  .about__item {
    flex-basis: 254px;
  }

  .about__input {
    max-width: 540px;
  }

  /*--footer--*/

  .footer__container {
    margin-bottom: 100px;
    flex-direction: column;
    gap: 80px;
  }

  .footer__logo {
    align-items: center;
    gap: 18px;
  }

  .footer__icon {
    width: 36px;
    height: 36px;
  }

  .nav__column-list {
    gap: 30px;
  }

  .footer__nav {
    flex-basis: unset;
  }
}
