@font-face {
    font-family: 'Muller';
    src: local('MullerBold'),
      url('../fonts/MullerBold.woff2') format("woff2"),
      url('../fonts/MullerBold.woff') format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Muller';
    src: local('MullerLightitalic'),
      url('../fonts/MullerLightitalic.woff2') format("woff2"),
      url('../fonts/MullerLightitalic.woff') format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Muller';
    src: local('MullerMedium'),
      url('../fonts/MullerMedium.woff2') format("woff2"),
      url('../fonts/MullerMedium.woff') format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Muller';
    src: local('MullerRegular'),
      url('../fonts/MullerRegular.woff2') format("woff2"),
      url('../fonts/MullerRegular.woff') format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Muller';
    src: local('MullerRegularitalic'),
      url('../fonts/MullerRegularItalic.woff2') format("woff2"),
      url('../fonts/MullerRegularItalic.woff') format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'OpenSans';
    src: local('OpenSansRegular'),
      url('../fonts/OpenSans-Regular.woff2') format("woff2"),
      url('../fonts/OpenSans-Regular.woff') format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

:root {
  --dark: #121723;
  --light-dark: #292E39;
  --dark-grey: #a1a6b4;
  --grey: #d2d5dd;
  --light-grey: #e6e8ec;
  --bronz: #bb793e;
  --light-bronz: #f0d288;
  --blue: #0039a6;
  --red: #d52b1e;
  --dark-purple: #4f28a5;
  --purple: #6d31ee;
  --light-purple: #aa9dfa;
  --ultra-light-grey: #f5f6f7;
  --white: #fff;
  --black: #000;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	ox-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.page {
  min-width: 320px;
  background-color: var(--white);
  color: var(--black);
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: normal;

}

/*--global--*/

.container {
  max-width: 1110px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: block;
  max-width: max-content;
  padding: 25px 54px;
  border-radius: 40px;
  background: var(--purple);
  font-size: 20px;
  font-weight: 500;
  color: var(--white);
}

.title-h2 {
  font-weight: 400;
  font-size: 48px;
}

/*--header--*/

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1110px;
  padding: 34px 15px;
  margin: 0 auto;
}

.header__nav {
  display: flex;
  flex-direction: row;
  gap: 58.75px;
  color: var(--dark);
}

.nav__item {
  font-size: 20px;
}

.header__search {
  cursor: pointer;
}

/*--hero--*/

.hero__container {
  padding: 90px 15px 94px;
  background: transparent no-repeat right 15px top 26px;
  background-image: url("../img/mic-main.png");
}

.hero__title {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 60px;
  color: var(--dark);
}

.hero__title span {
  font-weight: 400;
  font-style: italic;
}

.hero__descr {
  margin-bottom: 45px;
  max-width: 635px;
  line-height: 150%;
}

/*--podcasts--*/

.podcast {
  background: var(--light-grey);
  padding: 94px 0 65px;
}

.podcast__title {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 48px;
  color: var(--dark);
}

.podcast__list {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

.podcast__item:not(:last-child) {
  margin-bottom: 30px;
}

.podcast__item:nth-child(2n+1) {
  margin-right: 30px;
}

.podcast__item {
  position: relative;
  flex-basis: 263px;
  flex-grow: 1;
  padding: 40px 15px 40px 142px;
  background: no-repeat left center;
  background-color: var(--white);
}

.podcast__item--img1 {
  background-image: url("../img/podcast-img1.jpg");
}

.podcast__item--img2 {
  background-image: url("../img/podcast-img2.jpg");
}

.podcast__item--img3 {
  background-image: url("../img/podcast-img3.jpg");
}

.podcast__item--img4 {
  background-image: url("../img/podcast-img4.jpg");
}

.podcast__item--img5 {
  background-image: url("../img/podcast-img5.jpg");
}

.podcast__item--img6 {
  background-image: url("../img/podcast-img6.jpg");
}

.podcast__item--img7 {
  background-image: url("../img/podcast-img7.jpg");
}

.podcast__item--img8 {
  background-image: url("../img/podcast-img8.jpg");
}


.podcast__time {
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
  color: var(--dark);
}

.podcast__name {
  margin-bottom: 4px;
  font-size: 20px;
  color: var(--dark);
}

.podcast__lead {
  color: var(--dark-grey);
}

.podcast__date {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3px 8.5px;
  background-color: var(--light-grey);
  font-size: 10px;
  color: var(--dark);
}

/*--broadcast--*/

.broadcast {
  padding: 94px 0;
}

.broadcast__box {
  display: flex;
  gap: 30px;
}

.broadcast__title-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.broadcast__title {
  color: var(--dark);
}

.broadcast__list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 14px;
  gap: 30px;
}

.broadcast__item {
  padding: 168px 20px 20px;
  outline: 1px solid var(--light-grey);
  flex-basis: 215px;
  background: no-repeat center top;
}

.broadcast__item--img1 {
  background-image: url("../img/broadcast-1.jpg");
}

.broadcast__item--img2 {
  background-image: url("../img/broadcast-2.jpg");
}

.broadcast__item--img3 {
  background-image: url("../img/broadcast-3.jpg");
}

.broadcast__item--img4 {
  background-image: url("../img/broadcast-4.jpg");
}

.broadcast__item--img5 {
  background-image: url("../img/broadcast-5.jpg");
}

.broadcast__item--img6 {
  background-image: url("../img/broadcast-6.jpg");
}

.broadcast__name {
  margin-bottom: 4px;
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
}

.broadcast__descr {
  margin-bottom: 20px;
  font-size: 12px;
  color: var(--dark-grey)
}

.broadcast__more-link {
  display: inline-flex;
  align-items: center;
}

.broadcast__more {
  color: var(--dark);
  font-style: italic;
}

.broadcast__archive-list {
  display: flex;
  flex-direction: column;
  padding-top: 113px;
  background: transparent url("../img/mic-smal.png") no-repeat left top;
}

.broadcast__archive-btn {
  padding: 8px 55px;
  margin-bottom: 12px;
  border-radius: 20px;
  background-color: transparent;
  outline: 1px solid var(--dark);
  color: var(--dark);
  font-weight: 500;
  font-size: 16px;
}

.broadcast__archive-item {
  width: 255px;
  color: var(--dark-grey);
  line-height: 150%;
}

/*--guest--*/

.guest {
  padding: 94px 0 90px;
  background-color: var(--dark);
}

.guest__title {
  margin-bottom: 12px;
  color: var(--white);
}

.guest__subtitle {
  margin-bottom: 8px;
  color: var(--dark-grey);
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}

.guest__subtitle-descr {
  margin-bottom: 50px;
  max-width: 830px;
  color: var(--dark-grey);
  font-size: 20px;
  line-height: 160%;
}

.guest__list {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.guest__article {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.guest__photo {
  flex-shrink: 0;
}

.guest__descr {
  display: flex;
  flex-direction: column;
  flex-basis: 459px;
  padding-bottom: 4px;
}

.guest__name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  color: var(--white);
}

.guest__text {
  margin-bottom: auto;
  line-height: 180%;
  color: var(--dark-grey);
}

.guest__btn {
  padding: 10px 18px;
  max-width: max-content;
  border: 2px solid var(--light-purple);
  border-radius: 20px;
  color: var(--light-purple);
  font-weight: 500;

}

/*--playlist--*/

.playlist {
  padding: 94px 0;
}

.playlist__box {
  display: flex;
  gap: 30px;
}

.playlist__title-box {
  display: flex;
  flex-direction: column;
}

.playlist__title {
  margin-bottom: 12px;
}

.playlist__title-descr {
  max-width: 350px;
}

.playlist__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.playlist__item {
  position: relative;
  padding: 176px 16px 16px;
  flex-basis: 123px;
  outline: 1px solid var(--light-grey);
}

.playlist__name {
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 500;
  color: var(--dark);
}

.playlist__descr {
  font-size: 12px;
  color: var(--dark-grey);
}

.playlist__flag {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px;
  background-color: var(--dark);
}
